<ng-container *ngIf="order">
  <a class="btn btn-danger" (click)="onGoBack()"><i class="fa-solid fa-arrow-left"></i>Go back</a>
  <div class="container-fluid my-2">
    <div class="card">
      <div class="row text-center mx-1">
        <div class="col">
          Product Details
        </div>
        <div class="col">
          Price
        </div>
        <div class="col">
          Quantity
        </div>
        <div class="col d-none d-md-block d-lg-block">
          Total
        </div>
        <div class="col d-none d-md-block d-lg-block">
          status
        </div>
      </div>
      <hr class="divider">
      <div *ngFor="let products of order.products">
        <div class="row text-center align-items-center mx-1">
          <div class="col">
            <div class="d-flex flex-column align-items-center">
              <img [src]="products.product.imageUrl" alt="" class="img-fluid shadow bg-white rounded">
              <span class="pro-title">{{products.product.title}}</span>
            </div>
          </div>
          <div class="col">
            {{(products.product.discount !==0? products.product.discount:products.product.price) | currency:'INR'}}
          </div>
          <div class="col">
            <div class="d-inline-flex justify-content-center">
              <span class="px-2 py-2">{{products.quantity}}</span>
            </div>
          </div>
          <div class="col d-none d-md-block d-lg-block">
            {{(products.product.discount !==0? products.product.discount:products.product.price) * products.quantity | currency: 'INR'}}
          </div>
          <div class="col d-none d-md-flex d-lg-flex justify-content-center">
            <h6 [ngClass]="{
              'bg-primary':order.status === 'Pending',
              'bg-success':order.status === 'Delivered',
              'bg-warning':order.status === 'Shipped',
              'bg-danger':order.status === 'Failed',
              'bg-info':order.status === 'Processed'
              }"
              class="p-1 rounded text-light m-0">{{products.status}}</h6>
          </div>
          <div class="row d-md-none d-sm-block">
            <hr class="divider">
            <div class="d-flex justify-content-between">
              <h6>Total</h6>
              <h6>{{(products.product.discount !==0? products.product.discount:products.product.price) * products.quantity | currency: 'INR'}}</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6>Status</h6>
              <h6 [ngClass]="{
                'bg-primary':order.status === 'Pending',
                'bg-success':order.status === 'Delivered',
                'bg-warning':order.status === 'Shipped',
                'bg-danger':order.status === 'Failed',
                'bg-info':order.status === 'Processed'
                }"
                class="p-1 rounded text-light m-0">{{products.status}}</h6>
            </div>
          </div>
        </div>
        <hr class="divider">
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <strong class="text-success" *ngIf="total">Grand Total :{{total | currency:'INR'}}</strong>
        </div>
      </div>
      <div class="text-center my-2">
        <button class="btn btn-danger" (click)="onCancelOrder()">Cancel Order</button>
      </div>
    </div>
  </div>
</ng-container>

