<ng-container *ngIf="orders.length > 0;else NoOrders">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 my-3 p-2">
    <input class="form-control" type="text" [(ngModel)]="searchText" name="search" placeholder="Search for Orders">
  </div>
  <div class="container-fluid text-center">
    <div class="list-group list-group-flush">
      <div class="row justify-content-center">
        <div class="col-12">
          <h3>All Orders</h3>
          <table class="table" style="background-color: white;">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Total Price</th>
                <th scope="col">Ordered At</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of orders | filter:searchText;let i= index">
              <tr style="vertical-align: middle;">
                <td>{{order.user.userId.name}}</td>
                <ng-container *ngFor="let total of total;let j=index">
                  <td *ngIf="i==j">{{total | currency:'INR'}}</td>
                </ng-container>
                <td>{{order.createdAt | date}}</td>
                <td style="width: 150px;">
                  <h6 [ngClass]="{
                      'bg-primary':order.status === 'Pending',
                      'bg-success':order.status === 'Delivered',
                      'bg-warning':order.status === 'Shipped',
                      'bg-danger':order.status === 'Failed',
                      'bg-info':order.status === 'Processed'
                      }"
                      class="p-1 rounded text-light"
                    >{{order.status}}</h6>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="onDetail(order._id)"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-danger mx-1" (click)="onDeleteOrder(order._id)"><i class="fa-solid fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <mat-paginator
          [length]="totalOrders"
          [pageSize]="productsPerPage"
          [pageSizeOptions]="pageSizeOptions"
          aria-label="Select page"
          (page)="onChangedPage($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #NoOrders>
  <div class="container border mt-3">
    <div class="row">
      <div class="col">
        <h3 class="p-3">All Orders</h3>
        <div class="text-center p-4">
          <img class="img-fluid" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
          <h5>No Orders Have been placed</h5>
        </div>
      </div>
    </div>
  </div>
</ng-template>

