.card-image {
  height: 120px;
  align-self: center;
  object-fit: contain;
}

.img-fluid {
  width: 200px;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  width: 200px;
}
